<!DOCTYPE html>
<html lang="fr" class="no-js">
    {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>CV Houche Teddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="CV Houche Teddy" />
    <meta name="keywords" content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, Material CV, portfolio" />
    <meta name="author" content="lmpixels" />
    


    <link rel="stylesheet" href="{% static 'cv/css/reset.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cv/css/bootstrap-grid.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cv/css/animations.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cv/css/perfect-scrollbar.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cv/css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cv/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cv/css/main.css' %}" type="text/css">

    <script src="{% static 'cv/js/modernizr.custom.js' %}"></script>
  </head>

  <body>
    <!-- Animated Background -->
    <div class="lm-animated-bg" style="background-image: url({% static 'cv/assets/img/main_bg.png' %} );"></div>
    <!-- /Animated Background -->

    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

    <div class="page">
      <div class="page-content">
        <header id="site_header" class="header mobile-menu-hide">
          <div class="header-content">
            <div class="header-photo">
              <img src="{% static 'cv/assets/img/ted.jpg' %}" alt="Teddy Houche">
            </div>
            <div class="header-titles">
              <h2>Teddy Houche</h2>
              <h4>Game Developer</h4>
              <h4>VFX Artist</h4>
              <h4>Intégrateur</h4>
            </div>
          </div>

          <ul class="main-menu">
            <li class="active">
              <a href="#home" class="nav-anim">
                <span class="menu-icon lnr lnr-home"></span>
                <span class="link-text">Accueil</span>
              </a>
            </li>
            <li>
              <a href="#portfolio" class="nav-anim">
                <span class="menu-icon lnr lnr-briefcase"></span>
                <span class="link-text">Production</span>
              </a>
            </li>
            <li>
              <a href="#competences" class="nav-anim">
                <span class="menu-icon lnr lnr-pencil"></span>
                <span class="link-text">Compétences</span>
              </a>
            </li>
            <li>
              <a href="#resume" class="nav-anim">
                <span class="menu-icon lnr lnr-graduation-hat"></span>
                <span class="link-text">Formations/Expériences</span>
              </a>
            </li>            
          </ul>
          <div class="header-titles"></div>
            <div class="info-list">
              <ul>
                <li>
                  <span class="title">Adresse</span>
                  <span class="value"> 4  rue  des Ancolies </span></br>
                  <span class="value">      44300 Nantes</span>
                </li>
                <li>
                  <span class="title">e-mail</span>                    
                  <a  href="mailto:teddyhouche@live.fr" >                      
                    <span class="link-text">teddyhouche@live.fr</span>
                  </a>
                </li>
                <li>
                  <span class="title">Téléphone</span>
                  <span class="value">06 46 20 80 40</span>
                </li>
              </ul>                  
            </div>
          <div class="social-links">
            <ul>
              <li><a href="https://www.linkedin.com/in/teddy-ydztte-houche-231b19141/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
          <div class="header-buttons">
            <a href="{% static 'cv/pdf/cvhoucheteddy.pdf' %}" target="_blank" class="btn btn-primary">CV.pdf</a>
          </div>
          <div class="copyrights">© 2020 All rights reserved.</div>
        </header>

        <!-- Mobile Navigation -->
        <div class="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- End Mobile Navigation -->

        <!-- Arrows Nav -->
        <div class="lmpixels-arrows-nav">
          <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
          <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
        </div>
        <!-- End Arrows Nav -->

        <div class="content-area">
          <div class="animated-sections">
            <!-- Home Subpage -->
            <section data-id="home" class="animated-section start-page">
              <div class="section-content vcentered">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <div class="title-block">
                        <h2>Teddy Houche</h2>
                        <div class="owl-carousel text-rotation">                                    
                          <div class="item">
                            <div class="sp-subtitle">Etudiant chez E-Artsup</div>
                          </div>
                          
                          <div class="item">
                            <div class="sp-subtitle">Recherche stage de fin d'étude</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

              </div>
            </section>
            <!-- End of Home Subpage -->

            <!-- Portfolio Subpage -->
            <section data-id="portfolio" class="animated-section">
              <div class="page-title">
                <h2>Productions</h2>
              </div>
              <div class="section-content">
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <!-- Portfolio Content -->
                    <div class="portfolio-content">
                      <ul class="portfolio-filters">
                        <li class="active">
                          <a class="filter btn btn-sm btn-link" data-group="category_accueil">Accueil</a>
                        </li>
                        <li>
                          <a class="filter btn btn-sm btn-link" data-group="category_jeux">Jeux</a>
                        </li>
                        <li>
                          <a class="filter btn btn-sm btn-link" data-group="category_arts">Arts</a>
                        </li>
                        <li>
                          <a class="filter btn btn-sm btn-link" data-group="category_impressions">Impressions 3D</a>
                        </li>                      
                      </ul>
                      <!-- Portfolio Grid -->
                      <div class="portfolio-grid three-columns">
                        <figure class="item lbimage" data-groups='["category_accueil", "category_jeux"]'>
                          <div class="portfolio-item-img">
                            <iframe src="https://itch.io/embed/688899" width="100%" ><a
                            href="https://widachugo.itch.io/prism">Prism by Hugo Richard, Ydztte, PRESS --ART
                            BUTTON</a></iframe>  
                            <i class="fas fa-image"></i>
                            <h4 class="name">Jeu Prism</h4><a
                            href="https://widachugo.itch.io/prism" target="_blank"></a>
                            <span class="category">Prism</span>
                          </div>
                          <div class="portfolio-item-img">
                            <iframe src="https://itch.io/embed/866883" width="100%" ><a
                            href="https://dr-umbrus.itch.io/flk">FLÜK by Dr Umbrus</a></iframe> 
                            <i class="fas fa-image"></i>
                            <h4 class="name">Jeu FLüK</h4><a
                            href="https://dr-umbrus.itch.io/flk" target="_blank"></a>
                            <span class="category">FLüK</span>
                          </div>
                          <div class="portfolio-item-img">
                            <iframe src="https://www.youtube.com/embed/8jjpDWoFMB0" width="100%"
                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
                            <i class="fas fa-image"></i>
                            <h4 class="name">Jeu Dumball Rush</h4><a href="https://www.youtube.com/embed/8jjpDWoFMB0" target="_blank"></a>
                            <span class="category"> Dumball Rush</span>           
                          </div>                        
                        </figure>
                        <figure class="item lbimage" data-groups='["category_accueil", "category_arts"]'>
                          <div class="portfolio-item-img">
                            <img src="{% static 'cv/assets/img/portfolio/art/artstationteddyhouche.png' %}" alt="Media Project 1" title="" /><a
                              href="https://teddyhouche.artstation.com/"></a></img>                             
                          </div>
                          <i class="fas fa-image"></i>
                          <h4 class="name">Arts</h4><a href="https://teddyhouche.artstation.com/" target="_blank" title="artstation"></a>
                          <span class="category">artstation</span>
                        </figure>

                        <figure class="item lbimage" data-groups='["category_accueil", "category_impressions"]'>
                          <div class="portfolio-item-img">
                            <img src="{% static 'cv/assets/img/portfolio/impression/2.jpg' %}" alt="Media Project 1" title="" />
                            <a href="{% url 'cv:portfolio1'%}" class="ajax-page-load"></a>
                          </div>
                          <i class="far fa-file-img"></i>
                          <h4 class="name">Impressions 3D</h4>
                          <a href="{% url 'cv:portfolio1' %}" class="ajax-page-load"></a>
                          <span class="category">Detailed</span>
                        </figure>                        
                      </div>
                    </div>
                    <!-- End of Portfolio Content -->
                  </div>
                </div>
              </div>
            </section>
            <!-- End of Portfolio Subpage -->

            <!-- Skill -->
            <section data-id="competences" class="animated-section">
              <div class="page-title">
                <h2> Compétences</h2>
              </div>
              <div class="portfolio-grid two-columns">
                <figure class="item lbimage" >
                  <div class="portfolio-item-img">                  
                    <img src="{% static 'cv/assets/img/unity_logo.png' %}"  style="background-color:aliceblue" alt="logo unity" />                  
                    <ul >
                    </br>
                      <li><h2>Game & Level Design</h2</li>
                      <li><h4></br></h2></li>
                      <li>Effets spéciaux</li>
                      <li><h4></br></h2></li>
                      <li>Shaders</li>
                      <li><h4></br></h2></li>
                      <li>Intégrations</li>
                      <li><h4></br></h2></li>
                      <li>Programmation</li>
                      <li><h4></br></h2></li>
                      <li>Ui / Ux </li>
                      <li><h4></br></h2></li>
                      <li>Testing & QA</li>
                      <li><h4></br></h2></li>
                    </ul>
                  </div>
                </figure>
                <figure class="item lbimage" >
                  <div class="portfolio-item-img">
                    <img src="{% static 'cv/assets/img/Adobe_Corporate_Logo.png' %}" style="background-color:aliceblue" alt="logo adobe" />
                    <ul>
                    </br>
                      <li><h2>Dessin Traditionnel</h2></li>
                      <li><h4></br></h2></li>
                      <li><h2>Logo</h2></li>
                      <li><h4></br></h2></li>
                      <li><h2>Effets Spéciaux</h2></li>
                      <li><h4></br></h2></li>
                      <li><h2>Prototypage</h2></li>
                      <li><h4></br></h2></li>
                      <li><h2>Montage Vidéo</h2></li>
                      <li><h4></br></h2></li>
                      <li><h2>Sound Design </h2></li>
                      <li><h4></br></h2></li>                      
                    </ul>
                  </div>
                </figure>
              </div>
            </section>   
            <!-- End skill-->

            <!-- Resume Subpage -->
            <section data-id="resume" class="animated-section">
              <div class="page-title">
                <h2></h2>
              </div>
              <div class="section-content">
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="block-title">
                      <h3>Formations</h3>
                    </div>                    
                    <div class="timeline timeline-second-style clearfix">
                      <div class="timeline-item clearfix">
                        <div class="left-part">
                          <h5 class="item-period"> 2018/ Actuel</h5>                          
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                          <h4 class="item-title">Bachelor Game & Creative Coding </h4>
                          <span class="item-company">E-Artsup Nantes</span>                          
                        </div>
                      </div>
                    </div>
                    <div class="timeline timeline-second-style clearfix">
                      <div class="timeline-item clearfix">
                        <div class="left-part">
                          <h5 class="item-period"> 2015/ 2017</h5>                          
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                          <h4 class="item-title">BTS "Systèmes numériques, informatique et réseaux" </h4>
                          <span class="item-company">Campus Félix La Salle Nantes</span>  
                        </div>
                      </div>
                    </div>
                    <div class="timeline timeline-second-style clearfix">
                      <div class="timeline-item clearfix">
                        <div class="left-part">
                          <h5 class="item-period"> 2018/ Actuel</h5>                          
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                          <h4 class="item-title">Baccalauréat scientifique, option informatique et science du numérique </h4>
                          <span class="item-company">Lycée La Colinière Nantes</span>                          
                        </div>
                      </div>
                    </div>
                    <div class="white-space-50"></div>
                    <div class="block-title">
                      <h3>Experiences</h3>
                    </div>
                    <div class="timeline timeline-second-style clearfix">
                      <div class="timeline-item clearfix">
                        <div class="left-part">
                          <h5 class="item-period">Mai à aout 2018 / juillet à octobre 2020</h5>                          
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                          <h4 class="item-title">Manutention/ Montage  Sotec médical</h4>
                          <span class="item-company">Sotec médical Nantes</span>
                        </div>
                      </div>
                      <div class="timeline-item clearfix">
                        <div class="left-part">
                          <h5 class="item-period">Février 2018 / août 2018</h5>                          
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                          <h4 class="item-title">Opérateur de saisie Groupe Ivalis</h4>                          
                        </div>
                      </div>
                      <div class="timeline-item clearfix">
                        <div class="left-part">
                          <h5 class="item-period">Eté 2016</h5>                          
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                          <h4 class="item-title">Stage de développement et d'installation de matériel</h4>
                          <span class="item-company">Pages-Jaunes(Solocal Group) Rennes</span>
                        </div>
                      </div>                      
                    </div>
                  </div> 
                </div>
              </div>
            </section>            
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'cv/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'cv/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'cv/js/animating.js' %}"></script>
    
    <script src="{% static 'cv/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="{% static 'cv/js/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'cv/js/jquery.shuffle.min.js' %}"></script>
    <script src="{% static 'cv/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'cv/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'cv/js/jquery.magnific-popup.min.js' %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrDf32aQTCVENBhFJbMBKOUTiUAABtC2o"></script>
    <script src="{% static 'cv/js/jquery.googlemap.js' %}"></script>
    <script src="{% static 'cv/js/validator.js' %}"></script>
    <script src="{% static 'cv/js/main.js' %}"></script>
  </body>
</html>
